@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility d {
  outline: 1px solid orange;
}

@utility light-edge {
  box-shadow: inset 1px 0 0 #fff3, inset 0 1px 0 #fff4;
}

@utility extra-light-edge {
  box-shadow: inset 1px 0 0 #fff6, inset 0 1px 0 #fff7;
}

@utility light-edge-shadow {
  box-shadow: inset 1px 0 0 #fff3, inset 0 1px 0 #fff4, 1px 2px 3px #0008;
}

@utility dark-edge {
  box-shadow: inset 1px 0 0 #0008, inset 0 1px 0 #000a;
}
