@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility d {
  outline: 1px solid orange;
}

@utility d2 {
  outline: 2px solid fuchsia;
  outline-offset: 4px;
}

@utility illuminated {
  box-shadow: inset 1px 0 0 rgb(0, 225, 180), inset 0 1px 0 rgb(30, 255, 191);
  background-image: radial-gradient(
    in oklch 2.25rem at 65% 70%,
    #00c986,
    #18432c
  );
}

@utility lit-bulb {
  position: relative;
  transition: background-color 0.1s ease-out, box-shadow 0.4s ease-out;

  background-color: oklch(0.35 0.0629 157.22);

  box-shadow: inset 1px 0 0 rgb(0, 225, 180), inset 0 1px 0 rgb(30, 255, 191);

  &::before {
    opacity: 1;
    position: absolute;
    inset: 0;
    content: '';
    transition: opacity 0.15s ease-out;
    background-image: radial-gradient(
      in oklch 2.1rem at 68% 68%,
      #00c986f0,
      transparent
    );
  }

  &:hover {
    filter: brightness(120%) saturate(130%) hue-rotate(5deg);
  }

  &:active {
    filter: brightness(70%) saturate(120%) hue-rotate(10deg);
  }

  &::after {
    opacity: 0;
    position: absolute;
    inset: 0;
    content: '';
    transition: opacity 0.75s ease-out;
    box-shadow: inset 1px 0 0 rgb(255, 133, 207),
      inset 0 1px 0 rgb(255, 214, 136);
    background-image: radial-gradient(
      in oklch 2.25rem at 65% 70%,
      #ffb098,
      #0014b8
    );
  }
}

@utility bulb-ping {
  background-color: oklch(0.87 0.1376 85.14);
  box-shadow: inset 1px 0 0 rgb(255, 133, 207), inset 0 1px 0 rgb(255, 214, 136);
  transition: background-color 0.25s ease-out, box-shadow 1s ease-out;

  &::before {
    opacity: 0;
  }
  &::after {
    opacity: 1;
  }
}

@utility unlit-bulb {
  position: relative;
  transition: background-color 0.3s ease-out, box-shadow 0.4s ease-out;
  background-color: var(--color-stone-800);

  box-shadow: inset 1px 0 0 rgb(90, 94, 115), inset 0 1px 0 rgb(105, 112, 125);

  background-image: radial-gradient(
      in hsl 2.25rem at 65% 70%,
      hsl(244, 19%, 20%),
      hsl(244,2%,14%)
    );

  &::before {
    opacity: 0;
    position: absolute;
    inset: 0;
    content: '';
    transition: opacity 0.15s ease-out;
  }
  &::after {
    opacity: 0;
    position: absolute;
    inset: 0;
    content: '';
    transition: opacity 0.75s ease-out;
    box-shadow: inset 1px 0 0 rgb(255, 133, 207),
      inset 0 1px 0 rgb(255, 214, 136);
    background-image: radial-gradient(
      in oklch 2.25rem at 65% 70%,
      #ffb098,
      #0014b8
    );
  }
  &:hover {
    background-image: radial-gradient(
      in oklch 2.25rem at 65% 70%,
      #205f68,
      #1e1e1e
    );
  }

  &:active {
    filter: brightness(150%) saturate(250%) hue-rotate(20deg);
  }
}

@keyframes reveal-down {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility initial-reveal {
  --reveal-delay: 2s;
  animation: 1s var(--reveal-delay) reveal-down ease-out backwards;
}

@utility amethyst {
  box-shadow: inset 1px 0 0 rgb(255, 133, 207), inset 0 1px 0 rgb(255, 214, 136);
  background-image: radial-gradient(
    in oklch 2.25rem at 65% 70%,
    #ffb098,
    #0014b8
  );
}

@utility high-contrast-amethyst {
  text-shadow: 2px 2px 9px rgb(54, 6, 36);
  box-shadow: inset 1px 0 0 rgb(255, 170, 183), inset 0 1px 0 rgb(255, 214, 136),
    inset -1px -1px 0 rgb(255, 121, 121), 1px 1px 2px rgb(150, 0, 47);
  background-image: radial-gradient(
    in oklch 3.5rem at 30% 30%,
    hsl(275, 55%, 44%),
    hsl(3, 100%, 77%)
  );
}

@utility amethyst-done {
  text-shadow: 2px 2px 9px rgb(54, 6, 36);
  box-shadow: inset 1px 0 0 rgb(255, 170, 183), inset 0 1px 0 rgb(255, 214, 136),
    inset -1px -1px 0 rgb(255, 121, 121), 1px 1px 2px rgb(150, 0, 47);
  background-image: radial-gradient(
    in oklch 8rem at 24% -10%,
    hsl(275, 55%, 40%),
    hsl(3, 100%, 70%)
  );
}

@utility very-illuminated {
  box-shadow: inset 1px 0 0 rgb(32, 255, 162), inset 0 1px 0 rgb(48, 255, 189);
  background-image: radial-gradient(
    2.75rem at 65% 70%,
    oklch(79.6% 0.17 162.48),
    oklch(56.2% 0.051 172.552)
  );
}

@utility light-edge {
  box-shadow: inset 1px 0 0 #fff3, inset 0 1px 0 #fff4;
}

@utility extra-light-edge {
  box-shadow: inset 1px 0 0 #fff6, inset 0 1px 0 #fff7;
}

@utility light-edge-shadow {
  box-shadow: inset 1px 0 0 #fff3, inset 0 1px 0 #fff4, 1px 2px 3px #0008;
}

@utility dark-edge {
  box-shadow: inset 1px 0 0 #0008, inset 0 1px 0 #000a;
}
